{% if site.category_sidebar %}
<section>
<h1>Categories</h1>
<ul>
  <li><a href='/blog/categories/linux'>Linux (2)</a></li>
  <li><a href='/blog/categories/magento'>Magento (1)</a></li>
  <li><a href='/blog/categories/octopress'>Octopress (5)</a></li>
  <li><a href='/blog/categories/web前端'>Web前端 (10)</a></li>
  <li><a href='/blog/categories/工具'>工具 (2)</a></li>
  <li><a href='/blog/categories/折腾'>折腾 (5)</a></li>
  <li><a href='/blog/categories/翻译'>翻译 (1)</a></li>
  <li><a href='/blog/categories/读书笔记'>读书笔记 (8)</a></li>
  <li><a href='/blog/categories/达者为师'>达者为师 (5)</a></li>
</ul>
</section>
{% endif %}
